@import "./abstract-card.scss";

.deck {
  .deck-card {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    bottom: 230px;
    @include card();
    &:nth-child(2) {
      transform: translate(5px) rotate(5deg);
    }
    &:nth-child(3) {
      transform: translate(-1px) rotate(-2deg);
    }
    &:nth-child(4) {
      transform: translate(-1px);
    }
    &:nth-child(5) {
      transform: translate(6px);
    }
    &:nth-child(5) {
      transform: rotate(10deg);
    }
  }
}
