@import "./abstract-card.scss";

.deck {
  position: fixed;
  left: 0;
  bottom: 230px;
  box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.55);
  @include card();
  img {
    pointer-events: none;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
  }
}
